.nav-item{
    display: flex;
    height: 6vh;
    width: 3vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: #f1f1f1;
    }
    @media (max-width: 768px){
        font-size: 1rem;
        margin: 0 0.5rem;
    }
}

.navbar{
    width: 99vw;
}