body{
    background-color: #dbdee1;
}

.hRule{
    outline: solid #f0f0f0;
    width: 90%;
}

.sep{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainDiv{
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backDiv{
    height: 80vh;
    width: 80vw;
    background-color: #ffffff;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    flex-direction: row;
}

.itemsDiv{
    width: 55vw;
    height: 80vh;
}

.totDiv{
    background-color: #f6f6f6;
    width: 25vw;
    height: 80vh;
}

.titleDiv{
    width: 55vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: center;
    padding-right: 2vw;
}

.lTitle{
    display: flex;
    align-items: center;
    height: 10vh;
    text-align: left;
    width: 25vw;
}

.rTitle{
    display: flex;
    align-items: center;
    width: 25vw;
    text-align: right;
    justify-content: flex-end;
}

.itemListCont{
    padding-top: 5vh;
}


.itemsList{
    padding-left: 3vw;
    height: 60vh;
    width: 53vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.itemsFooter{
    padding-top: 1vh;
    padding-left: 2vw;
    text-align: left;
}

.ltitleDiv{
    padding-left: 2vw;
    padding-top: 3vh;
    width: 25vw;
    height: 10vh;
    text-align:left;
}

.totDet{
    display: flex;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 25vw;
    height: 10vh;
}

.totDetA{
    width: 10vw;
    float: left;
    text-align: left;
}

.totDetB{
    width: 10vw;
    float: right;
    text-align: right;
}

.promoCode{
    padding-left: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    height: 45vh;
}

.pcTitle{
    justify-content: center;
    text-align: left;
    width: 25vw;
    height: 5vh;
}

.pcInp{
    padding-right: 3vw;
}

.pcInpF{
    width: 20vw;

}

.shipInp{
    width: 20vw;
    padding-bottom: 8vh;
}

.applyPCBtn{
    padding-top: 2vh;
    align-self: self-start;
}

.finalCheck{
    padding-top: 2vh;
    height: 15vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.finalAmtL{
    text-align: left;
    height: 5vh;
    width: 10vw;
    float: left;
}

.finalAmtR{
    text-align: right;
    height: 5vh;
    width: 10vw;
    float: right;
}

